body {
	font-family: 'Roboto';
	background: #fff !important;
}
.slct-city .city-error-msg{
    background: #ff0000;
    color: #fff;
    float: left;
    font-size: 13px;
    margin: 2px 0 0 116px;
    opacity: 0.9;
    padding: 0;
    text-align: center;
    width: 199px;
	display:none;
}
.cake-wrap {
    padding-top: 20px;
}
.fnt-hd.container-fluid  {padding:0 !important;}
.ph-img {
	background: #fff;
	padding: 4px;
	box-shadow: 6px 6px 6px #e3dddd;
}

.might-blk img {
	width: 100%;
	height: auto;
}
.mg-title a {
	font-size: 14px;
	color: #c10505;
	float: left;
}
.mg-title, .pht-blk, .flv-lg, .mg-pd {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    padding: 5px 0 0;
    color: #c10504;
}
.mg-pd, .mg-desc {
	font-size: 12px;
	color: #868686;
	margin-bottom: 16px;
	float: left;
}
.mg-desc {
	margin-bottom: 11px;
	min-height: 51px;
}

.might-img-wrap {
    position: relative;
}
.might-img-wrap .mg-p {
    background-color: #000;
    bottom: 0;
    color: #fff;
    font-size: 16px;
    left: 0;
    padding: 0 15px;
    position: absolute;
}

.might-img-wrap .mg-p .lst-price {
    font-size: 14px;
    text-decoration: line-through;
}

.mg-try {
	text-align: center;
	border-bottom: 1px solid #c10505;
	padding: 0 0 3px;
	color:#c10504;
}
.mg-try a {
	font-size: 16px;
	color: #c10505;
}
.pht-lnk {
	text-align: center;
	margin: 27px 0;
}
.pht-lnk a {
    border: 1px solid #c10505;
    color: #c10505;
    font-size: 14px;
    padding: 7px 30px;
}
.pht-lnk a:after {
    background: rgba(0, 0, 0, 0) url("../img/sprite.png") no-repeat -5px -96px / 43px auto;
    content: "";
    padding-left: 20px;
}
.pht-blk .flv-title {
	margin-bottom: 0;
}
p.sec-ln {
	text-align: center;
	color: #868686;
	margin-bottom: 27px;
}
.fnt-hd #ctyform {
    padding: 0;
}
.spe-form .form-item, .spe-form .form-actions {
	margin: 5px 0 !important;
}

.spe-form form .name-field-wrapper .form-item-name {
    margin-bottom: 15px !important;
}
.spe-form form .email-field-wrapper .form-item-email {
    margin-bottom: 15px !important;
}

.spe-img img, .name-field-wrapper {
    height: auto;
    margin: -10px 0 0;
    width: 100%;
}
.spe-form form div#test-ajax {
    color: red;
}
.special {
	margin-bottom: 50px;
}
.spe-form, .cop-form {
	text-align: center;
	margin: 10px 0;
	padding: 0px 5px;
}
.view.view-flavour .flexslider, .view.view-might-like.view-id-might_like.view-display-id-block_3 .flexslider {
	background: none !important;
	border: none !important;
}
.contact_form {
	text-align: center;
}
.spe-form input, .spe-form textarea, .contact_form input, .contact_form textarea {
	width: 100%;
	background: #f6f6f6;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
	border: none;
	padding: 8px;
	resize: none;
	border: 1px solid #9e9e9e;
}
.contact_form textarea, .contact_form input,.cop-form input,.cop-form textarea {
	background: transparent;
}
.contact_form textarea:focus, .contact_form input:focus,.cop-form input:focus,.cop-form textarea:focus{
    background: #fff !important;
}
textarea#edit-message:focus {
    outline: none;
}
.spe-form .form-submit {
    background: #c10505;
    border: none;
    border-radius: 2px;
    color: #fff;
    padding: 7px 55px;
    width: auto;
	display: table-row-group;
    margin: 0 auto;
}
.spe-form input.form-submit:focus {background:#c10505 !important;}
.spec-sub .form-submit{	display:none;}
.email-field-wrapper {
    margin-top: 11px;
}
.cop-form .address-field-wrapper {margin-top:20px;}
.spe-form label {
    color: #464646;
    font-size: 12px;
    font-weight: 300;
    left: 17px;
    position: absolute;
    top: -13px !important;
}
.spe-form #test-ajax{
    padding: 0 0 8px;
    float: left;
    text-align: center;
    width: 100%;
}
.spe-form #test-ajax span { color: green;}
/********Mahendra CSS*******/
.fnt-hd {
	clear: both;
}
.front-page {
	padding: 0;
}
.bst-sell, .pht-blk {
	padding: 0 !important;
}
.flv-title > span {
	display: inline-block;
	position: relative;
}
.grippie {
	display: none;
}
/****** New Home page CSS***************/
.delcius_cake, .contact_us {
	padding: 0 !important;
}
.home_banner,.sercity-select,.craft_disc,.slct-city  {
	text-align: center;
}

.craft_disc {
    font-weight: normal !important;
    padding-bottom: 20px !important;
}

.coprate_order {
    border-top: 1px solid #e6e6e6;
}

.slct-city .arrow {
     color: #ffffff;
    font-size: 22px;
    margin: -10px 32% auto auto;
    width: 20%;
}
.front .h-banner .banner-city .slct-city form .chosen-container {
    width: 200px !important;
}
.front .h-banner .banner-city .slct-city form .chosen-container-single .chosen-single span{ padding-left: 20px;
    text-align: left;
  }
.h-banner {
	position: relative;
}
.banner-city {
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid #fff;
    display: block;
    left: 0;
    margin: 0 auto;
    min-width: 550px;
    padding: 2% 0;
    position: absolute;
    right: 0;
    top: 18%;
    width: 33%;
}
.banner-city h3 {
	font-size: 25px;
	text-align: center;
	margin: 0;
	font-weight: 300;
	line-height: 35px;
	color: #fff;
}
.banner-city p {
    color: #fff534;
    font-size: 25px;
    font-weight: 300;
    margin: 0 0 -4px 16%;
    text-align: center;
}
.craft3 .craft-disc:after {
    content: "";
    height: 150px;
    border-right: 1px dashed #e1d0d0;
    position: absolute;
    right: -32px;
    top: -14px;
}
.craft-img img { width: 94px;}
.banner-city h3 span {
    color: #fff534;
    text-decoration: line-through;
}
.slct-city #cty_chosen a {
	margin-top: -3px;
}
.slct-city select {
	width: 28%;
    margin-top: 20px;
    background: url(../img/down-arrow.png) no-repeat 98% 55%/13px auto,url(../img/chosen-sprite.png) no-repeat -7px -90px;
    height: 36px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #c10504;
    padding: 0 5px 0 25px;
    background-color: #fff;
}
.slct-city .chosen-container-single .chosen-single {
	height: 36px !important;
	line-height: 36px;
	border: 1px solid #c10504 !important;
}
.city_serving {
	margin: 0 auto;
	float: none;
	max-width: 800px;
	text-align: center;
}
.city_serving h1, .craft_cake h2, .coprate_order h2, .flv-title, .contact_us h1, .delcius_cake h2 {
    color: #c10504;
    font-size: 20px;
    font-weight: 300;
    margin: 25px 0;
    text-align: center;
    text-transform: uppercase;
}
.special p.flv-title {
    color: #c10504;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
    padding: 10px 0 15px;
    text-transform: uppercase;
	    line-height: 25px;
}
.serv-city {
	padding: 10px;
	border: 1px solid #dcd3d4;
	cursor: pointer;
	margin: 0 5px 18px;
	width: 48%;
	float: none;
	display: inline-block;
}
.city_serving p {
	text-align: center;
	margin: 0;
	font-weight: normal;
	font-size: 20px;
	color: #464646;
}
.city-dics {
	text-align: center;
	padding: 10px 0;
	color: #464646;
}
.city-img {
	text-align: center;
	padding: 0;
}
.sercity-select .ctylink {
	border: 1px solid #868686;
	background: transparent;
	color: #464646;
	padding: 7px 25px;
	border-radius: 3px;
	margin-left: -3px;
}
.city_area {
	background: #fbf2f3;
}
.serv-city:hover, .serv-city:focus, .serv-city:active {
	border: 1px solid #c10504;
}
.serv-city:hover .sercity-select .ctylink, .serv-city:focus .sercity-select .ctylink, .serv-city:active .sercity-select .ctylink {
	border-color: #c10504;
	color: #c10504;
}
.craft-disc {
	padding: 4% 0 0;
	width:31%;
}
.craft-disc span {
	color: #c10504;
	font-size: 16px;
}
.carft-right-section, .carft-left-section {
	margin-top: -44px;
}
.coprate_order a img {
	text-align: center;
	border: 4px solid #fff;
	box-shadow: 3px 3px 3px #ccc;
}
.coprate_order span a {
	color: #c10504;
	display: block;
	line-height: 30px;
	text-align: center;
}
.coprate_order, .city_serving, .craft_cake {
	margin-top:0;
}
.craft1 {
	margin-top: 0;
}
.craft-disc p {
	line-height: 20px;
	font-weight: normal;
	font-size: 13px;
}
.coprate_order:before {
	top: 0px !important;
}
.flavour-blk {
	clear: both;
}
.slct-city input {
    background: #c10504 none repeat scroll 0 0;
    border: 1px solid #c10504;
    color: #fff;
    height: 36px;
    line-height: 36px;
    margin-left: -3px;
    padding: 0 10px;
}
/*.delcis_cak {background:#f3f3f3;}*/
.cake_type {
	padding: 0;
	text-align: center;
	float: none;
	margin: 0 auto;
	max-width: 900px;
	width: 100%;
}
.cake_type li {
	width: 17.4%;
	display: inline-block;
	margin: 10px 25px;
	min-height: 66px;
	border: 1px solid #e4cdc0;
	border-radius: 3px;
	float: none;
}
.cake_type li:hover {
	border-color: #c10504;
}
.cake_type li:hover .ck_flavour {
	color: #c10504;
}
.cake_type li:hover .ck_flv_disc {
	color: #c10504;
}
.cake_type .flv1, .cake_type .flv5 {
	margin-left: 0;
}
.cake_type .flv4, .cake_type .flv8 {
	margin-right: 0;
}
.ck_flavour {
	line-height: 25px;
	padding-top: 11px;
	color: #464646;
	font-weight: normal;
	text-transform:uppercase;
}
.ck_flv_disc {
	font-size: 11px;
	color: #737373;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.gu-ord {
	text-align: center;
	margin: 20px 0;
}
.gu-ord a {
	border: 1px solid #464646;
	padding: 7px 15px;
	border-radius: 3px;
	color: #464646;
	font-size: 16px;
}

.gu-ord a:hover {
    border: 1px solid #c10505;
    color: #c10505;
}

.flavour-blk {
    background: #fbf3f3;
    padding-bottom: 20px;
}
.h-banner #ctyform #cty_chosen .chosen-single {
	background: #fff url(../img/chosen-sprite.png) no-repeat -7px -90px;
}
/************** Corporate Page CSS****************/
/*** Corporate page Css****/
.corporateview-header {
    background: url("../img/Corporatebg.jpg") repeat scroll center center;
    clear: both;
    padding: 0 0 40px;
}

.cop-detl .cp1, .cp2, .cp3 {
    margin: 0 0 10px !important;
    padding: 0 0 10px;
}

.cop-detl .cp3 { border:none !important;}

.query-dtl p.cpr-txt {
    border-bottom: 1px solid #dddddd;
    color: #464646;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.coporate-page .city_area {
	float: left;
    border-top: 1px solid #ddd;
    margin: 15px 0 0;
}

.status {
    background-image: none !important;
    margin: 0 auto !important;
    text-align: center;
}

.terms-container {
	background: #fbf2f3;
}
.corporateview-header p {
	font-size: 35px;
	margin-bottom: 25px;
	width: 343px;
	text-align: center;
	font-weight: bold;
}
.se-lin {
    color: #c10505;
    font-size: 24px;
    font-weight: 300;
    margin: 35px 0 0;
}
.coporate-page h1 {
    color: #c10504;
    font-size: 24px;
    font-weight: 300;
    margin: 0 0 15px;
    text-align: center;
}
.copr-cake {
	margin-top: 10px;
	padding: 0;
}
.cop-ck img {
	background: #fff;
	padding: 7px;
	box-shadow: 5px 5px 5px #ccc;
}
.cop-ck p {
	text-align: center;
	margin: 10px 0;
	color: #c10504;
	font-size: 16px;
}
.cop-detl {
	margin: 20px 0 40px;
	padding: 20px 15px;
	background: #fff;
}
.cop-detl h2 {
    font-size: 22px;
    margin: 0 0 10px;
}
.cop-detl p {
	margin: 0;
	font-size: 13px;
	text-align: justify;
}
.cop-query {
	padding: 0; margin-top: 20px;
}
.query-dtl {
    color: #464646;
    float: none;
    font-size: 14px;
    margin: 0 auto;
    padding-bottom: 15px;
    text-align: center;
    width: 90%;
}
.query-dtl a {
    color: #c10505;
    font-size: 14px;
}
.cop-form .phone-field-wrapper {
    float: left !important;
    margin: 0 0 20px;
    width: 100%;
}
.ctop-partner {
	text-align: center;
}
.ctop-partner h4 {
	border-bottom: 1px solid #ddd;
	padding-bottom: 15px;
}
.ctop-partner .cmpny-logo {
	display: block;
	background: url("../img/cmpny-img.png") no-repeat center;
	width: 100%;
	height: 300px;
}
/***************** End CSS for corporate page Css***********/
/**************** Css For contact Us page***********/
.react_us {
	text-align: left;
	padding-left: 100px;
	margin-top: 15px;
	position: relative;
}
.react_us p {
	font-size: 20px;
	margin: 0 10px;
}
.reach_mail a, .reach_phn a {
	margin: 10px 0;
	font-size: 12px;
	color: #464646;
	font-weight: normal;
	padding-left: 25px;
	background: url("../img/sprite.png") no-repeat -3px 0px/58px;
}
.react_us:before {
	content: "";
	border-left: 1px solid #ddd;
	position: absolute;
	left: 61px;
	height: 100px;
}
.reach_phn a {
	background-position: -3px -18px;
	background-size: 51px auto;
	padding-bottom: 10px;
}
.contact_us {
	margin-bottom: 30px;
}
.node-type-page .cake-wrap {
	background: #fbf2f3;
	float: left;
}
#city-best-sellers, #city-best-sellers > div {
    height: 400px !important;
    max-width: 1100px !important;
    width: 100% !important;
}

/****** End CSS For Contact Us *****/


/****** Start CSS For Customise Validation *****/
.marker, .form-required {
    color: #f00;
    float: right;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

div.error, table tr.error {
    background-color: white;
}
div.error, .error {
    color: red;
    text-align: center;
}
div.error {
    background: transparent;
    border: 0 none !important;
    margin: 6px 0 6px 15px;
    padding: 0;
    width: 50%;
}
.front-page div.status {
    margin: 5px 0 !important;
    padding: 2px;
    width: 100%;
	border-color: #fce2a3 !important;
    background-color: #fff6dd !important;
}
/****** End CSS For Start CSS For Customise Validation *****/

.cop-cake a span {
    color: #464646;
    display: block;
    font-size: 14px;
    padding: 10px 0 20px;
    text-align: center;
}

@media screen and (min-width:768px) and (max-width:991px) {
.banner-city {
    top: 18%;
    width: 68%;
}
.carft-right-section, .carft-left-section, .craft_disc,.cop-form .phone-field-wrapper,.cop-form .email-field-wrapper,.spe-form form .form-item-email,.slct-city select {
	margin:0;
}
.cake_type li {
	width: 28%;
	margin: 10px 15px;
	display: inline-block;
	float: none;
}
.cake_type .flv4, .cake_type .flv8, .cake_type .flv1, .cake_type .flv5 {
	margin: 10px 15px;
}
.craft-disc {
	padding: 1% 0 0;
}
.spe-form .col-md-6 {
    float: left;
    width: 100%;
}
.spe-form .message-body {float:left; margin-top:20px;}
.cop-form .address-field-wrapper {margin-top:15px;}
.ctop-partner .cmpny-logo {background-size:300px;}
.spe-form .form-item, .spe-form .form-actions {margin:8px 0 !important;}
.home_banner {
    background:url("../img/mobile-banner-home.jpg") no-repeat scroll center center;
    min-height: 288px;
}
.home_banner > img {
    visibility: hidden;
}
}
@media screen and (max-width:767px) {
.home_banner {
    background:url("../img/mobile-banner-home.jpg") no-repeat scroll center center;
    min-height: 288px;
}
.home_banner > img {
    visibility: hidden;
}
.craft-disc {
    padding: 4% 0 0;
    width: 65%;
}	
	
.slct-city .arrow {
    display: none;
}	
.jssora03r {
    background-position: -98px -2px;
}
.jssora03l, .jssora03r {
    background: rgba(0, 0, 0, 0) url("../img/a03.png") no-repeat 0 0;
    cursor: pointer;
    display: block;
    height: 96px !important;
    overflow: hidden;
    position: absolute;
    width: 51px !important;
}	
div.messages {
    background-position: 8px 8px;
    background-repeat: no-repeat;
    border: 1px solid;
    margin: 6px 0 6px 15px;
    padding: 0;
    width: 90%;
}		
.slct-city .city-error-msg {
    background: #ff0000;
    color: #fff;
    display: none;
    float: none;
    font-size: 13px;
    margin: 0 auto;
    opacity: 0.9;
    padding: 0 15px;
    text-align: center;
    width: 100%;
}
.home_banner, .sercity-select, .craft_disc, .slct-city {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.city_serving h2, .craft_cake h2, .coprate_order h2, .flv-title, .contact_us h1, .delcius_cake h2 {
    color: #464646;
    font-size: 25px;
    font-weight: 300;
    margin: 20px 0;
    text-align: center;
}
.coprate_order h2 {
    padding: 0 0 10px;
}
.coprate_order {
    border-top: 1px solid #ccc;
}
.coprate_order {
    border-bottom: 1px solid #ccc;
}
.craft_cake h2 {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px !important;
    padding-bottom: 20px;
}
.mg-desc {
	max-height: 33px;
	overflow: hidden;
}
.mg-p {
	font-size: 15px;
	padding: 0;
}
.flv-title {
    font-size: 17px;
    line-height: 17px;
    margin-top: 20px;
}
.pht-blk .view-photo-cake-view,.copr-cake {
	overflow-x: scroll;
	white-space: nowrap;
}
.pht-blk .view-photo-cake-view > div > div,.cop-ck {
    display: inline-block !important;
    float: none !important;
    padding-bottom: 20px;
    width: auto !important;
}
.spe-form {
	margin: 15px 0 0;
	padding: 0 0 15px
}
.banner-city {
    min-width: 300px;
    padding: 5% 0;
    top: 15%;
    width: 90%;
}
.banner-city h3, .banner-city p {
    font-size: 18px;
    line-height: 20px;
    margin: 0 auto;
    padding: 0 40px;
    width: 320px;
}
.ome_banner > img {
	height: 150px;
}
.slct-city select {
    margin-bottom: 15px !important;
    margin-top: 15px !important;
    text-align: center;
    width: 90% !important;
}

.banner-city > p {
    margin: 0 auto;
    right: 0;
    text-align: right;
    top: 18px;
    width: 320px;
}
.special p.flv-title {
    color: #464646;
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 20px;
    padding: 10px 0 15px;
    text-transform: uppercase;
    line-height: 25px;
}
.slct-city input {
    background: #c10504 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    margin-left: 0;
    width: 90%;
}
.craft3 .craft-disc:after  {content:none;}
.city_serving h2, .craft_cake h2, .coprate_order h2, .delcius_cake h2 {
	font-size: 17px;
	margin: 25 px 0;
}
.coprate_order, .craft_cake, .carft-right-section, .carft-left-section, .craft_disc, .city_serving {
	margin: 0 0 10px;
}
.city_serving, .carft-left-section, .carft-right-section, .craft-img, .fsec-page .special, .cop-cake, .coprate_order, .cop-cake, .delcius_cake, .city-wrap, section.plist-container {
	padding: 0 !important;
}
.serv-city .city-dics {
	height: 94px;
}
.special {
	clear: both;
	margin-bottom:10px;
	padding-top: 10px;
}
.cop-cake {
	display: inline-block;
	float: none;
	margin: 0 5px;
	width: auto;
}
.corp-block {
	overflow: scroll;
	margin-bottom: 25px;
	white-space: nowrap;
	width: 100%;
}
.craft_cake:before, .coprate_order:before {
	width: 80%;
	top: 0;
}
.coprate_order:before {
	top: 5px !important;
}
.cake_type li {
	width: 47.2%;
	margin: 10px 4px;
	float: left;
	display: inline-block;
}
.cake_type .flv4, .cake_type .flv8, .cake_type .flv1, .cake_type .flv5 {
	margin: 10px 4px;
}
.gu-ord a {
    display: block;
    float: left;
    margin-bottom: 0;
    margin-top: 15px;
    width: 100%;
}
.spe-form .form-submit, .cop-form input.form-submit, .contact_form input.form-submit {
	width:90%;
}
.serv-city {
	padding: 10px 5px;
	width: 46%;
}
.sercity-select .ctylink {
	width: 100%;
	margin: 0 auto;
	padding: 7px 0;
}

.cop-cake a span {
    color: #464646;
    display: block;
    font-size: 14px;
    padding: 10px 0 20px;
    text-align: center;
}
.name-field-wrapper, .email-field-wrapper {
    margin: 22px 0 0;
    top: 0 !important;
}

.phone-field-wrapper {
    margin: 25px 0 34px;
}
.spe-form label {top:-17px !important;}
/******** corporate page CSs****************/
.corporateview-header p {
	width: 100%;
	font-size: 24px;
}
.cop-ck {
	padding: 0 10px;
}
.query-dtl {
	font-size: 14px;
}
.ctop-partner .cmpny-logo {
	height: 180px; background-size: 300px auto;
}
.cop-form .message-body {float: left; width:100%;margin-top: 10px;}
.cop-form .address-field-wrapper {
    margin: 35px 0 10px;
}
.se-lin {text-align:center;}
/************ Contact us CSS********/
.react_us:before {
	content: none;
}
.react_us {
	text-align: center;
	padding-left: 15px;
	margin-top: 15px;
	margin-bottom: 20px;
}
}

@-moz-document url-prefix() {
	.slct-city #cty_chosen a {
	margin-top: -6px;
}
}
			
			@media only screen and (max-width : 320px) {
	.banner-city h3, .banner-city p {
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 0 5px;
	width: 295px;
    padding: 0 40px;
} }
		

