.main-menu {
    margin: 0;
    background: #fff;
}
.baking-sehd {padding-bottom:15px;}
<!--[if IE 8]>
.commerce-add-to-cart .form-type-checkbox input[type="checkbox"] {opacity:1 \9/ !important; /* IE8 and below */
    display: block \9/ !important; /* IE8 and below */
	margin:-15px 0 0 4px \9/ !important; /* IE8 and below */
	}
.commerce-add-to-cart .form-type-checkbox label {padding-left:10px \9/ !important; /* IE8 and below */}	
<!--[endif]-->
.signup-form label {display: none !important;}
select {
    text-overflow: "";
}
select::-ms-expand { display: none;
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
 filter: alpha(opacity=0);

 }
body.ie select {
  background-image: none;
}
.banner-city {
-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);
}
form#views-exposed-form-regular-cake-list-page .bef-checkboxes .form-item.form-type-bef-checkbox input, form#views-exposed-form-gurgaon-cake-list-page .bef-checkboxes .form-item.form-type-bef-checkbox input {margin-bottom:-12px;}
.pcake .pcake-img,.rcake .rcake-img  {width:50% !important; float:left;}
.pcake-details,.rcake-details {width:50% !important; float:left;}
.plist-container .view-regular-cake-list .views-row {width:33.33333333% !important;}
.commerce-add-to-cart input[type="text"] {padding:5px 0;}
.subs-email .form-item {margin:0 !important;}


.search-wrap input#edit-search-block-form--2 {padding-top:9px; height:35px;}
.search-wrap .form-submit {padding-top:9px; height:35px;}
.subs-email .form-text {padding-top:7px; padding-bottom:6px;}
.cake-blk  {min-height:371px !important;}
.form-item-line-item-fields-field-message-und-0-value .text-full {padding:9px 10px 5px 0 !important;}
.page-checkout input[type="text"] {height:35px;}
.baking-user-login-form-wrapper .form-item-step1-combo input,.logn-form .form-type-textfield input,.sgnup-form .form-item-field-user-phone-cell-und-0-number input {width:315px !important;}